# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
root = true

# All files
[*]
indent_style = space

# IDE0001: Simplify Names
dotnet_diagnostic.IDE0001.severity = warning

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = warning

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = none

# CA1034: Nested types should not be visible
dotnet_diagnostic.CA1034.severity = none

# CA1050: Declare types in namespaces
dotnet_diagnostic.CA1050.severity = silent

[*.cshtml]
indent_size = 2
