@page
@inject Game gameService
<!DOCTYPE html>
<html>
<body>
  <samp>
    Games: @gameService.GamesCount
    <br />
    Last activity: @gameService.LastUpdatedAt.ToLocalTime().ToString(System.Globalization.CultureInfo.GetCultureInfo("ru-ru"))
  </samp>
</body>
</html>
