@page
@using System.Globalization;
@using Humanizer;
@using Humanizer.Localisation;
@inject Game gameService
@inject ISessions sessions
<!DOCTYPE html>
<html>
<head>
  <title>Millionaire</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    @@media (prefers-color-scheme: dark) {
      body {
        background-color: #121212;
        color: white;
      }
    }
  </style>
</head>
<body>
  @{
    var lastUpdatedAt = gameService.LastUpdatedAt.ToLocalTime();
    var idleTime = DateTimeOffset.Now - lastUpdatedAt;
    var lastUpdatedFormatted = lastUpdatedAt.ToString(CultureInfo.GetCultureInfo("ru-ru"));
    var idleTimeFormatted = idleTime.Humanize(
      precision: 2,
      culture: CultureInfo.GetCultureInfo("en-US"),
      minUnit: TimeUnit.Second,
      maxUnit: TimeUnit.Year
    );
  }
  <samp>
    Sessions: @sessions.Count()
    <br />
    Last activity @idleTimeFormatted ago. At @lastUpdatedFormatted.
  </samp>
</body>
</html>